* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #F4EFE5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    gap: 240px;

    img {
        width: 120px;
    }
}

.Acessos {
    display: flex;
    gap: 25px;
    height: 50px;
    align-items: center;

    a {
        text-decoration: none;
        color: #000000;
    }


    .ativo {
        display: flex;
        height: 40px;
        border-bottom: 2px solid #B53A27;
        align-items: center;


    }

}

.cardap {
    display: flex;


    a {
        text-decoration: none;
        color: #000000;

    }

}

.banner {
    display: flex;
    width: 100%;
    height: 450px;
}

.texto {
    width: 50%;
    background-color: #ead99d;
    padding: 60px;


}

.subtitulo {
    font-size: 15px;
    margin-bottom: 15px;
}

.descricao {
    margin-top: 5px;
    font-size: 17px;
    max-width: 350px;
    margin-bottom: 20px
}

h1 {
    font-family: Georgia, serif;
    font-size: 38px;
    font-weight: normal;
    margin-bottom: 0;

    span {
        color: #B53A27;
        font-style: italic;
    }
}


.foto-cafe {
    width: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

button {
    background-color: #17201d;
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 12px
}


.catalogo {
    background-color: #f5f0e6;
    padding-top: 20px;
}

.titulo {
    text-align: right;
    margin-right: 25px;

    h1 {
        font-family: Georgia, serif;
        font-size: 38px;
        font-weight: normal;
    }

    span {
        color: #a83225;
        font-style: italic;
    }
}



.categorias {
    display: flex;
    gap: 25px;
    margin-top: 30px;
    margin-left: 20px;

    p {
        font-size: 9px;
        color: #777;
    }
}

.linha {
    display: flex;
    height: 1px;
    background-color: #d8d0c3;
    margin-top: 10px;
    margin-left: 18px;
    margin-right: 18px;
}

.quantidade {
    font-size: 9px;
    color: #777;
    margin-top: 10px;
    margin-left: 20px;
}

.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px 20px;
    margin-top: 10px;
}

.produto {

    img {
        width: 430px;
        height: 430px;
        object-fit: cover;
    }

    h2 {
        font-family: Georgia, serif;
        font-size: 18px;
        font-weight: normal;
        margin-top: 7px;
    }

    p {
        font-family: Georgia, serif;
        font-size: 10px;
        color: #777;
        margin-top: 4px;
    }

    span {
        display: block;
        color: #a83225;
        font-size: 10px;
        margin-top: 6px;
    }
}

.final {
    display: flex;
    height: 540px;
    margin-top: 50px;

}

.texto3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: #172923;
    color: #f4efe5;
    padding: 70px;
}

.chamada {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        width: 22px;
        height: 2px;
        background-color: #b53a27;
    }

    p {
        font-size: 10px;
    }
}

h1 {
    font-family: Georgia, serif;
    font-size: 48px;
    font-weight: normal;
    margin-top: 15px;

    i {
        color: #b53a27;
    }
}

.descricao2{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.botao-final {
    background-color: transparent;
    width: 200px;
    color: white;
    border: 1px solid #89938d;
    padding: 14px 18px;
    font-size: 10px;

    span {
        color: #d6b85a;
        margin-left: 8px;
    }
}


.imagem-final{
    width: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.rodape{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    height: 100px;
    background-color: #172923;

    img{
          width: 120px;
             background-color: #172923;
    }

    h1{
        font-size: 15px;
        font-weight: 200;
           background-color: #172923;
           color: #F4EFE5;
    }

    p{
        font-size: 10px;
        font-weight: 200;
           background-color: #172923;
           color: #F4EFE5;
    }
}